# CPU-only PyTorch (much smaller download - needed for Streamlit Cloud)
--extra-index-url https://download.pytorch.org/whl/cpu
torch

mediapipe==1.0.1       # also installs OpenCV (opencv-contrib-python)
numpy
scikit-learn

streamlit>=1.50
streamlit-webrtc>=0.47
av
gTTS
